# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# clasp config files
.clasp.json
creds.json
.clasprc.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/